<div class="mt-2 text-center fixed-top">
  <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-wallet2" viewBox="0 0 16 16">
    <path d="M12.136.326A1.5 1.5 0 0 1 14 1.78V3h.5A1.5 1.5 0 0 1 16 4.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 13.5v-9a1.5 1.5 0 0 1 1.432-1.499L12.136.326zM5.562 3H13V1.78a.5.5 0 0 0-.621-.484L5.562 3zM1.5 4a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-13z"/>
  </svg>
  <h3>Budget Manager</h3>
</div>
<div class="container d-flex justify-content-center align-items-center" style="height: 100vh">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h3 class="text-center">Cadasto</h3>
        </div>
        <div class="card-body">
          <form [formGroup]="registerForm" (ngSubmit)="register()">
            <div class="form-group row">
              <label for="name" class="col-12 col-form-label">Nome</label>
              <div class="col-12">
                <input type="text" class="form-control" id="name" formControlName="name" placeholder="Name">
              </div>
            </div>
            <div class="form-group row">
              <label for="email" class="col-12 col-form-label">Email</label>
              <div class="col-12">
                <input type="email" class="form-control" id="email" formControlName="email" placeholder="Email">
              </div>
            </div>
            <div class="form-group row">
              <label for="password" class="col-12 col-form-label">Senha</label>
              <div class="col-12">
                <input type="password" class="form-control" id="password" formControlName="password" placeholder="Password">
              </div>
            </div>
            <div class="form-group row my-3">
              <div class="col-12 text-center">
                <button type="submit" class="btn btn-primary">Entrar</button>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-12">
                <div *ngIf="error" class="alert alert-danger">
                  {{ error }}
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-12">
                <p class="text-center">Já possui uma conta? <a routerLink="/login">Entrar</a></p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
