<div class="container mt-2">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <div class="d-flex flex-row justify-content-between">
            <button (click)="changeMonth('prev')" class="btn btn-sm rounded-pill btn-outline-secondary"><</button>
            <h5 class="card-title">{{ currentMonthName | uppercase }}</h5>
            <button (click)="changeMonth('next')" class="btn btn-sm rounded-pill btn-outline-secondary">></button>
          </div>
        </div>
        <div class="card-body">
          <app-balance-panel
            [currentMonth]="currentMonth"
          ></app-balance-panel>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <button [routerLink]="['/transaction/add']" class="btn btn-dark m-2" *ngIf="hasCategories">Adicionar Transação</button>
      <button [routerLink]="['/category']" class="btn btn-dark m-2">Categorias</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h3 class="mt-4">Transações do mês</h3>
      <app-transaction-list
        [currentMonth]="currentMonth"
      ></app-transaction-list>
    </div>
  </div>
</div>
