<div class="container mt-2">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header text-center">
          <h5 class="card-title">{{ currentMonthName | uppercase }}</h5>
          <button (click)="changeMonth('prev')" class="btn btn-sm btn-primary"><</button>
          <button (click)="changeMonth('next')" class="btn btn-sm btn-primary">></button>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12 col-md-4">
              <app-balance-card
                [title]="'Balanço'"
                [value]="currentMonthBalance"
              ></app-balance-card>
            </div>
            <div class="col-sm-12 col-md-4">
              <app-balance-card
                [title]="'Receita'"
                [value]="currentMonthIncome"
              ></app-balance-card>
            </div>
            <div class="col-sm-12 col-md-4">
              <app-balance-card
                [title]="'Despesa'"
                [value]="currentMonthExpense"
              ></app-balance-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <button [routerLink]="['/main/transaction/add', 'expense']" class="btn btn-danger m-2" *ngIf="hasExpenseCategories">Adicionar despesa</button>
      <button [routerLink]="['/main/transaction/add', 'income']" class="btn btn-success m-2" *ngIf="hasIncomeCategories">Adicionar receita</button>
      <button [routerLink]="['/main/category/add']" class="btn btn-info m-2">Adicionar categoria</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h3 class="mt-4">Transações do mês</h3>
      <app-transaction-list
        [currentMonth]="currentMonth"
      ></app-transaction-list>
    </div>
  </div>
</div>
